.one {
    width: 500px;
    height: 300px;
    border:  1px solid black ;
    margin-bottom: 10px;
    padding: 10px;
    
}
.two {
    width: 500px;
    height: 300px;
    border:  1px dashed black ;
    margin-bottom: 10px;
    padding: 10px;
}
#dashed {
    width: 500px;
    height: 200px;
    border: 1px dashed red;
}
.orange {
    background-color: orange;
}
.yallow {
    background-color: yellow;
}
.purple {
    color: purple ;
}
.blue {
    color: blue;
}
.underline {
    color:orange;
    text-decoration-line:underline ; 
    text-decoration-color: orange;
}
#back {
    background-color: yellow;
}
.under {
    color:red;
    text-decoration-line:underline ; 
    text-decoration-color: red;
}
.inline {
    width: 30px;
    height: 30px;
    border: 2px solid black;
    margin: 10px;
    padding: 15px;
    background-color: yellow ;
    display: inline;
}
img {
    height: 600px;
    width: 200px;
    position:fixed;
    top: 20px;
    right:20px;
}
.border {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100px;
    height: 100px;
    border-style: dashed; 
    background-color: bisque ;
    margin: 50px 50px;
    padding: 5px;

}



